@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");
body {
  display: flex;
  align-items: center;
  margin-left: 50px;
  font-family: "Bricolage Grotesque";
  background-color: rgb(164, 221, 190);

}

.tabs {
  display: flex;
  width: 550px;
}
.tab {
  width: 100px;
  padding: 10px;
  cursor: pointer;
  color: white;
  font-family: "Bricolage Grotesque";
  border: 0;
  margin-right: 5px;
  background-color: rgb(44, 110, 41);
  border-radius: 8px 0 0;
  
}
.tab.active {
  font-weight: bold;
  font-size: 1rem;
  /* box-shadow: 0px 0px 5px gray; */
  border-top: 2px solid #0cd12d;
  background-color: white;
  color: #108a0c;
}
.content {
  margin-top: 0px;
  box-shadow: 0px 0px 10px gray;
  background-color: white;
  width: 100%;
  padding: 20px;
  border-radius: 0 8px 8px;
}
.content div {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 15px;
}
.content p {
  font-size: 20px;
}
